<p> </p>
<div class="card hoverable">
    <div class="row no-gutters">
        <div class="team col-sm-12 col-md-9">
            <div class="card-body">
                <h5 class="card-title">PhD Students</h5> 
                <p class="card-text">{{ include.alumnis_msc.name }}</p>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">{{ include.member.name }}</h5> -->
                <h5 class="card-title">BSc Students</h5> 
                {% for member in include.alumnis_msc %}
                    <h6 class="card-title">{{ member.name }}</h6> 
                    <p class="card-text">{{ member.members }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>